In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from plotly import graph_objs as go
from plotly.subplots import make_subplots
import plotly.express as px

In [2]:
df = pd.read_excel('owid_co2_data.xlsx')
df.head()

,Name,Value.iso_code,Value.data.year,Value.data.population,Value.data.cumulative_luc_co2,Value.data.land_use_change_co2,Value.data.land_use_change_co2_per_capita,Value.data.share_global_cumulative_luc_co2,Value.data.share_global_luc_co2,Value.data.share_of_temperature_change_from_ghg,Value.data.temperature_change_from_ch4,Value.data.temperature_change_from_co2,Value.data.temperature_change_from_ghg,Value.data.temperature_change_from_n2o
0,Afghanistan,AFG,1850,3752993.0,2.979601,2.979601,0.793927,0.112725,0.112725,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1851,3767956.0,5.981443,3.001842,0.796677,0.111259,0.109841,0.164799,0.000001,0.000002,0.000003,1.028669e-07
2,Afghanistan,AFG,1852,3783940.0,9.002998,3.021554,0.798521,0.110380,0.108680,0.164375,0.000002,0.000003,0.000006,2.077781e-07
3,Afghanistan,AFG,1853,3800954.0,12.041333,3.038336,0.799361,0.109507,0.107001,0.163732,0.000004,0.000005,0.000009,3.146464e-07
4,Afghanistan,AFG,1854,3818038.0,15.094068,3.052735,0.799556,0.108817,0.106176,0.162811,0.000005,0.000006,0.000012,4.233508e-07

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48058 entries, 0 to 48057
Data columns (total 14 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Name                                             48058 non-null  object
 1   Value.iso_code                                   39717 non-null  object
 2   Value.data.year                                  48058 non-null  int64
 3   Value.data.population                            39495 non-null  float64
 4   Value.data.cumulative_luc_co2                    37022 non-null  float64
 5   Value.data.land_use_change_co2                   37022 non-null  float64
 6   Value.data.land_use_change_co2_per_capita        36313 non-null  float64
 7   Value.data.share_global_cumulative_luc_co2       37022 non-null  float64
 8   Value.data.share_global_luc_co2                  37022 non-null  float64
 9   Value.data.share_of_temperature_change_from_ghg  41724 non-null  float64
 10  Value.data.temperature_change_from_ch4           37620 non-null  float64
 11  Value.data.temperature_change_from_co2           41724 non-null  float64
 12  Value.data.temperature_change_from_ghg           41724 non-null  float64
 13  Value.data.temperature_change_from_n2o           37620 non-null  float64
dtypes: float64(11), int64(1), object(2)
memory usage: 5.1+ MB

In [4]:
df.loc[df['Value.iso_code'].isna()]['Name'].unique()

array(['Africa', 'Africa (GCP)', 'Asia', 'Asia (GCP)',
       'Asia (excl. China and India)', 'Central America (GCP)', 'Europe',
       'Europe (GCP)', 'Europe (excl. EU-27)', 'Europe (excl. EU-28)',
       'European Union (27)', 'European Union (28)',
       'French Equatorial Africa (Jones et al. 2023)',
       'French West Africa (Jones et al. 2023)', 'High-income countries',
       'International aviation', 'International shipping',
       'International transport', 'Kosovo', 'Kuwaiti Oil Fires (GCP)',
       'Kuwaiti Oil Fires (Jones et al. 2023)',
       'Least developed countries (Jones et al. 2023)',
       'Leeward Islands (GCP)', 'Leeward Islands (Jones et al. 2023)',
       'Low-income countries', 'Lower-middle-income countries',
       'Middle East (GCP)', 'Non-OECD (GCP)', 'North America',
       'North America (GCP)', 'North America (excl. USA)', 'OECD (GCP)',
       'OECD (Jones et al. 2023)', 'Oceania', 'Oceania (GCP)',
       'Panama Canal Zone (GCP)', 'Panama Canal Zone (Jones et al. 2023)',
       'Ryukyu Islands (GCP)', 'Ryukyu Islands (Jones et al. 2023)',
       'South America', 'South America (GCP)',
       'St. Kitts-Nevis-Anguilla (GCP)',
       'St. Kitts-Nevis-Anguilla (Jones et al. 2023)',
       'Upper-middle-income countries', 'World'], dtype=object)

In [8]:
df.loc[df['Value.data.year']<1880].value_counts()

Name             Value.iso_code  Value.data.year  Value.data.population  Value.data.cumulative_luc_co2  Value.data.land_use_change_co2  Value.data.land_use_change_co2_per_capita  Value.data.share_global_cumulative_luc_co2  Value.data.share_global_luc_co2  Value.data.share_of_temperature_change_from_ghg  Value.data.temperature_change_from_ch4  Value.data.temperature_change_from_co2  Value.data.temperature_change_from_ghg  Value.data.temperature_change_from_n2o
Afghanistan      AFG             1851             3767956.0              5.981443                       3.001842                        0.796677                                   0.111259                                    0.109841                         0.164799                                         1.166809e-06                            1.589500e-06                            2.859176e-06                            1.028669e-07                              1
North Macedonia  MKD             1857             543180.0               17.430599                      2.240609                        4.124985                                   0.077133                                    0.076199                         0.031367                                         1.091821e-06                            2.722500e-06                            3.970793e-06                            1.564722e-07                              1
                                 1865             584056.0               38.874855                      2.989714                        5.118883                                   0.086497                                    0.113237                         0.032594                                         2.463757e-06                            6.154500e-06                            8.965339e-06                            3.470816e-07                              1
                                 1864             578783.0               35.885143                      2.931640                        5.065179                                   0.084828                                    0.109085                         0.032313                                         2.274520e-06                            5.692500e-06                            8.290052e-06                            3.230330e-07                              1
                                 1863             573558.0               32.953503                      2.870561                        5.004831                                   0.083183                                    0.105771                         0.032008                                         2.090851e-06                            5.230500e-06                            7.620386e-06                            2.990342e-07                              1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ..
Gambia           GMB             1869             127118.0               3.670998                       0.244828                        1.925994                                   0.006610                                    0.009322                         0.002762                                         4.615227e-07                            4.180000e-07                            9.669402e-07                            8.741743e-08                              1
                                 1868             126206.0               3.426170                       0.243180                        1.926847                                   0.006475                                    0.009205                         0.002741                                         4.346446e-07                            3.905000e-07                            9.078071e-07                            8.266251e-08                              1
                                 1867             125377.0               3.182990                       0.242410                        1.933451                                   0.006331                                    0.009076                         0.002717                                         4.081464e-07                            3.630000e-07                            8.490628e-07                            7.791641e-08                              1
                                 1866             124552.0               2.940580                       0.236145                        1.895954                                   0.006177                                    0.008883                         0.002692                                         3.820282e-07                            3.355000e-07                            7.907058e-07                            7.317756e-08                              1
Zimbabwe         ZWE             1879             894203.0               26.142530                      0.931792                        1.042036                                   0.030132                                    0.027977                         0.039095                                         1.359056e-05                            5.725500e-06                            2.239616e-05                            3.080103e-06                              1
Name: count, Length: 5539, dtype: int64